@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<!-- Redirects the user to the DAM main page after 1 second -->
<meta http-equiv="refresh" content="1; url=http://localhost:5006/dam/" />